.add-cuopon__form {
	padding: 32px 0px;
	display: grid;
	grid-template-columns: auto 130px 130px 130px 180px;
	grid-gap: 16px;
	border-bottom: 1px solid #f2f5f7;
}

.add-cuopon__form-label {
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}


.add-cuopon__form-input {
	padding: 12px;
	border-radius: 4px;
	border: 1px solid white;
	background: white;
}

.add-cuopon__form-input:focus {
	border: 1px solid #3c4c54;
	outline: none;
}

.add-cuopon__form-submit {
	padding: 12px 24px;
	margin-top: 16px;
	border: none;
	border-radius: 4px;
	grid-column: 5 / 6;
	background: #737e84;
	color: #e5eff6;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.add-cuopon__form-submit:hover,
.add-cuopon__form-submit:focus {
	background: #273238;
}